<!-- Small modal -->
<%- model_class = Transaction -%>
<div class="page-header hidden-print">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>

<div class="col-xs-12">
  
<dl class="dl-horizontal ">
  <dt><strong>Приход на склад:</strong></dt>
  <dd><%= @total_income %> .грн</dd>
  <dt><strong>Выдача:</strong></dt>
  <dd><%= @total_out %> .грн</dd>
</dl>  
<%= paginate @transactions,  :theme => 'twitter-bootstrap-3' %>
<table class="table table-responsive table-striped table-hover ">
  <thead>
    <tr>
      <th><%= sort_link(@q, :category) %> </th>
      <th>Позиция</th>
      <th style="max-width:20%;"><%= sort_link(@q, :action_type, "-+") %></th>
      <th>Станция</th>
      <th class="hidden-print">Опер.</th>
      <th><%= sort_link(@q, :created_at, "Дата") %></th>
      <th>N</th>
      <th></th>
      <th class="hidden-print"></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <% begin %>
      <tr>  
        <%= render :partial => 'transaction_row', :locals => {:transaction => transaction} %>
      </tr>  
    <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @transactions,  :theme => 'twitter-bootstrap-3' %>
<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_transaction_path,
            :class => 'btn btn-primary' %>
  </div>
   <% content_for :sidebar do %>
 
  <div class="col-lg-12 hidden-print">
  <div class="panel panel-default">
    <div class="panel-heading">Поиск по транзакциям</div>
    <div class="panel-body">
        <%= ransack_simple_form_for @q , :html => { :class => 'form-vertical ' } do |f| %>
           <%= f.input  :target_id_eq ,:collection => Target.all, :label_method => :name, :value_method => :id, :label => "Станция" ,:include_blank => true %>
           <%= f.input  :item_category_id_eq ,:collection => Category.all, :label_method => :name, :value_method => :id, :label => "Категория" ,:include_blank => true %>
           <%#= f.input  :item_id_eq ,:collection => Item.all, :label_method => :name, :value_method => :id, :label => "Продукт" ,:include_blank => true %>
           <%= f.input  :item_name_cont , :label => "Продукт" ,:include_blank => true %>
           
           <%= f.input  :user_id_eq ,:collection => User.all, :label_method => :email, :value_method => :id, :label => "Оператор" ,:include_blank => true %>
           <%#= f.input  :item_name_eq ,:collection => Account::CARD_TYPES,  :label => "Тип карты" ,:include_blank => true %>
           <%= f.input  :action_type_eq ,   :collection => ['In','Out'],  :label => "Тип Транзакции" ,:include_blank => true %>
           <h5><strong class="text-info">Транзакции созданы в период:</strong></h5> 
           <%= f.input  :created_at_gteq, as: :date, default: Date.today.at_beginning_of_month, :label => "От:" ,:include_blank => false, class: 'form-control  '%>
            <%= f.input :created_at_end_of_day_lteq, as: :date,  default: Date.today, :label => "До:" ,:include_blank => false, class: 'form-contol'  %>
            <br/>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :cost_gteq , label: 'Сумма от'%>
              </div>
              <div class="col-md-6">
                <%= f.input :cost_lteq , label: '- до'%>
              </div>
            </div>
        <%= f.button :submit, "Поиск", :class => 'btn-primary btn-block' %>
      <% end %>
   
    
    </div>
  </div>
  

<%- if current_user.admin? %> 
    <div class="panel panel-primary">
      <div class="panel-heading"> Аналитика  <%= Transaction.check_balance %> </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><strong>Приход:</strong></dt>
          <dd><%= @total_plus %> .грн</dd>
          <dt><strong>Расход:</strong></dt>
          <dd><%= @total_minus %> .грн</dd>
          <dt><strong>Кол-во операций.:</strong></dt>
          <dd><%= @total_transactions %></dd>
        </dl>
        <strong>По станциям</strong>
        <dl class="dl-horizontal">
          <%- @report_by_target.each do |key,value| %>
            <% if value > 0 %>
              <dt><strong><%= key %>:</strong></dt>
              <dd><%= value %> .грн</dd>
            <% end %>  
          <% end %>
        </dl>
      </div>
    </div>
    
      
  <% end %>

  </div>
<% end %>
