<% content_for :sidebar do %>
 
  <div class="col-sm-12 hidden-print">
  <div class="panel panel-default">
    <div class="panel-heading">Параметры Отчета</div>
    <div class="panel-body">
        <%= ransack_simple_form_for @q, url: report_by_target_transactions_path , :html => { :class => 'form-vertical ' } do |f| %>
           <h5><strong class="text-info">Отчетность за период:</strong></h5> 
           <%#= f.input  :target_id_eq ,:collection => Target.all, :label_method => :name, :value_method => :id, :label => "Станция" ,:include_blank => false %>
           <%= f.input  :created_at_gteq, as: :date, default: Date.today.at_beginning_of_month, :label => "От:" ,:include_blank => false, class: 'form-control  '%>
           <%= f.input :created_at_end_of_day_lteq, as: :date, default: Date.today, :label => "До:" ,:include_blank => false, class: 'form-contol'  %>
            <br/>
        <%= f.button :submit, "Сгенерировать", :class => 'btn-primary btn-block' %>
       <% end %>
    </div>
  </div>
  </div>
<% end %>

<% if params[:q].size > 0 %>
<div class="col-xs-12">
  <div class="page-header text-center">
    <h3>Отчет расходов по станции: 
      <br />
      <strong>"<%#= Target.find(params[:q]["target_id_eq"]).name rescue '' %>" </strong>
      <br />
      <%= @start_date %> - <%= @end_date %>
      <%#= params[:q]["created_at_gteq"].to_date.strftime("%d/%m/%Y")  rescue '-' %> <%#= params[:q]["created_at_lteq"].to_date.strftime("%d/%m/%Y")  rescue '-' %>
    </h3>
  </div>
<%
=begin
%>
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Позиция</th>
      <th>Категория</th>
      <th>К-во</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |key,value| %>
      <%  item = Item.with_deleted.find(key) rescue nil %>
      <% if item %>
        <tr>
          <td><%= item.name %> </td>
          <td><%= item.category.name rescue '' %> </td>

          <td> <%= value %> <%= item.unit_type %></td>
          <td> <%= @total_stats[key] %> грн. </td>
        </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<%
=end
%>


<%#= binding.pry %>

    <div class="panel panel-default">
    <div class="panel-heading">График расходов по пунктам назначения</div>
    <div class="panel-body">
      <%= column_chart @transaction_hash  , label: "Стоимость,грн.", xtitle: "Стоимость, грн."%>
      <%= pie_chart @transaction_hash  , label: "Стоимость,грн.", xtitle: "Стоимость, грн."%>
</div>
</div>
        <div class="panel panel-default">
    <div class="panel-heading">Расход инвентаря по категориям </div>
    <div class="panel-body">
  
          <%= bar_chart @categories_out_data , label: "Стоимость,грн.", xtitle: "Стоимость, грн."%>
          <%= pie_chart @categories_out_data , label: "Стоимость,грн.", xtitle: "Стоимость, грн."%>
    </div>
        </div>


</div>
<% end %>

