<div class="">
  <div class="list-group">
    <% Category.find_each do |category| %>
      <a href="<%= category_path(category) %>" class="list-group-item <%= 'active' if @category == category %>"><%= category.name %>  <span class="badge"> <%=category.items_count %> </span> </a>
    <% end %>
   </div>
  <%= link_to 'Редактировать', categories_path, :class=>"btn btn-block" %>
</div>

