<% if !user_signed_in? %>
<li><%= active_link_to "Вход", new_user_session_path %></li>
<li><%= active_link_to "Регистрация", new_user_registration_path %></li>
<% else %>
<li><%#= link_to "Наименования", items_path %></li>
<%= active_link_to "Критический",   danger_path, :wrap_tag => :li %>
<%= active_link_to "Баланс",   wrong_balance_path, :wrap_tag => :li %>
<%= active_link_to "Транзакции",   transactions_path, :wrap_tag => :li, :active => [['transactions'], ['index']]%>
<%= active_link_to "Поиск",   items_path, :wrap_tag => :li, :active => [['items'], ['index']]%>
<%= active_link_to "Пункты назначения", targets_path , :wrap_tag => :li%>
<%= active_link_to "Категории", categories_path, :wrap_tag => :li , :active => [['categories'], ['index','edit']]%>
<%= active_link_to "Отчет",  report_by_target_transactions_path , :wrap_tag => :li, :active => [['transactions'], ['report_by_target']]%>
<%= active_link_to "Редактировать профайл", edit_user_registration_path , :wrap_tag => :li%>

<% if current_user.admin? %>
  <%= active_link_to "Admin", admin_root_path, :wrap_tag => :li %>
<% end %>

<%= active_link_to "Sign out", destroy_user_session_path, data:{method: :delete}, :wrap_tag => :li %>
<% end %>
